<%- include('../header') %>
      <h2>Password Category List</h2><br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>
                Action
            </th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach((row)=>{ %>
            <tr>
              <td><%= row.categoryName %></td>
              <td>
                    <a href="/category/update/<%= row._id %>" class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="/category/remove/<%= row._id %>" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash"></i>
                    </a>
              </td>
            </tr>

          <% })  %>
            
        </tbody>
      </table>

  </body>
</html>
