<%- include('../header') %>
      <div class="container">
        <div class="row">
          <div class="panel panel-info col-md-10 offset-md-2">
            <div class="panel-heading" style="margin-bottom: 20px;">
              <div class="panel-title h2 text-info">Add Password </div>
            </div>
            <div class="panel-body">
              <form action="/password/add-new-password" method="post" id="passwordForm" class="form-horizontal" role="form" autocomplete="false">
                
                <div class="form-group">
                  <label for="password_category">Password Category</label>
                  <div class="col-md-9">
                    <select name="password_category" class="form-control">
                        <option value="-1">Select Category</option>
                        <% if(catRecords.length > 0){
                            catRecords.forEach((row)=>{
                        %>
                              <option value="<%= row.categoryName %>"><%= row.categoryName %></option>
                        <% }) } %>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="project_name">Project Name</label>
                  <div class="col-md-9"></div>
                      <input type="text" name="project_name" class="form-control" placeholder="Enter project name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="password_detail">Password Detail</label>
                  <div class="col-md-9"></div>
                      <textarea name="password_detail" id="password_detail" class="form-control" rows="10" placeholder="Enter password detail"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12"></div>
                      <input type="submit" value="Add" class="btn btn-info col-md-12" >
                  </div>
                </div>
                
                
              </form>
              <p>View Password Details
                <a href="/password/passwordDetail" style="text-decoration: none;">Click Here</a>
              </p>
              <script>
                CKEDITOR.replace( 'password_detail' );
              </script>
            </div> 
          </div>
        </div>
      </div>

  </body>
</html>
